<table class="table">
    <tbody>
    {% for comment in commentaires %}
        <tr>
        	<td>
        		<a href="{{ path('user_show', { 'id': comment.user.id }) }}">
        			{{ comment.user.prenom }} {{ comment.user.nom }}</a> : 
        	</td>
        	
            <td>{{ comment.commentaire }}<br /><br />
            	<div class="pull-right">
            		<a href="{{ path('comment_edit', { 'id': comment.id }) }}">supprimer</a>
            		{{ comment.createdat|date('Y-m-d H:i:s') }}
            	</div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<!-- 
<ul>
    <li>
        <a href="{{ path('comment_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
 -->