<form class="form-action" action="{{ path('sujet_createComment', { 'id': entity.id}) }}" method="post" {{ form_enctype(form) }} >
    {#{{ form_widget(form) }} #}
    
    <!-- Les erreurs générales du formulaire. -->
	{{ form_errors(form) }}

	<div>
    	<!-- Génération du label. -->
    	{{ form_label(form.commentaire, "") }}

    	<!-- Affichage des erreurs pour ce champ précis. -->
    	{{ form_errors(form.commentaire) }}

	    <!-- Génération de l'input. -->
	    {{ form_widget(form.commentaire) }}
	</div>

	
	<!-- Génération des champs pas encore écrits.
    	 Dans cet exemple, ça serait « date », « auteur » et « tags »,
     	mais aussi le champ CSRF (géré automatiquement par Symfony !)
     	et tous les champs cachés (type « hidden »). -->
	{{ form_rest(form) }}
    
    <p>
        <button type="submit" class="btn btn-success">Commenter</button>
    </p>
</form>