{% extends "ProjetCoursBundle::layout.html.twig" %}

{% block title %}
	Accueil Cours- {{ parent() }}
{% endblock %}


{% block titre_cours %}
		 	<h1>Evaluation du Cours : {{ cours }}</h1>
{% endblock %}


{% block Enseignement_body %}

<table class="btn table">
    <thead>
        <tr>
            <th>Note/20</th>
            <th>Remarques</th>
            <th>evalué le</th>
			<th>Etudiant</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.note }}</td>
            <td>{{ entity.remarque }}</td>
            <td>{% if entity.createdat %}{{ entity.createdat|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td><a class="brand btn-danger" href="{{ path('user_show', { 'id': entity.etudiant.id }) }}"> {{ entity.etudiant.username }} : {{ entity.etudiant.prenom }} {{ entity.etudiant.nom }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
