{% extends "ProjetUserBundle::layout.html.twig" %}

{% block title %}
	Affichage- {{ parent() }}
{% endblock %}

{% block fos_user_content %}

{% if app.user.id == entity.id %}
	{% include "ProjetUserBundle:User:outils.html.twig" %}
{% endif %}

<div class="alert btn-warning"> <h2>{{ entity.nom }}  {{ entity.prenom }}</h2></div>

<table class="table">
    <tbody>
    
        <tr>
            <th>Pseudo public</th>
            <td>{{ entity.username }}</td>
        </tr>
        
        <tr>
            <th>Adresse E-mail</th>
            <td>{{ entity.email }}</td>
        </tr>
        
        <tr>
            <th>Dernière connexion</th>
            <td>{{ entity.lastLogin|date('Y-m-d H:i:s') }}</td>
        </tr>
        
        <tr>
            <th>Sujets créés</th>
            <td>{{ entity.promotion.enseignements|length }}</td>
        </tr>
        
        <tr>
            <th>Nombre de commentaire</th>
            <td>{{ entity.commentaires|length }}</td>
        </tr>
        
        <tr>
            <th>Vote créés</th>
            <td>{{ entity.lastLogin|date('Y-m-d H:i:s') }}</td>
        </tr>

    </tbody>
</table>

{% endblock %}