{% extends "AmineForumBundle::layout.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block Forum_body %}
	<h1>Cr&eacute;ation d'un nouveau Sujet</h1>

	<form action="{{ path('subject_create') }}" method="post" {{ form_enctype(form) }}>
		{{ form_widget(form) }}
		<p>
			<button type="submit">Create</button>
		</p>
	</form>

	<ul class="record_actions">
		<li>
			<a href="{{ path('subject') }}">
				Back to the list
			</a>
		</li>
	</ul>
{% endblock %}