

<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<li><a href="{{ path('enseignement_addDocument', { 'id': entity.id }) }}">Ajouter un document</a></li>
				<li><a href="{{ path('enseignement_addDevoir'  , { 'id': entity.id }) }}">Ajouter un devoir  </a></li>
				<li><a href="{{ path('enseignement_addSujet'   , { 'id': entity.id }) }}">Ajouter un sujet  </a></li>
				<li><a href="{{ path('enseignement_forum'      , { 'id': entity.id }) }}">Acceder au Forum  </a></li>
    			<li><a href="{{ path('enseignement')                                  }}">Back to the list</a></li>
    			<li><a href="{{ path('enseignement_edit', { 'id': entity.id }) }}">Edit</a></li>
    			<li>
        			<form action="{{ path('enseignement_delete', { 'id': entity.id }) }}" method="post">
            			{{ form_widget(delete_form) }}
            			<button type="submit" class="btn btn-danger">Delete</button>
        			</form>
    			</li>
			</ul>
		</div>
	</div>
</div>