{% extends "ProjetForumBundle::layout.html.twig" %}

{% block title %}
	Acceuil - {{ parent() }}
{% endblock %}

{% block Forum_body %}

<h1>Sujet list</h1>

<table class="table">
    <thead>
        <tr>
            <th>Sujet</th>
            <th>Description</th>
            <th>Date de création</th>
            <th>Visibilite</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.nom }}</td>
            <td>{{ entity.description }}</td>
            <td>{% if entity.createdat %}{{ entity.createdat|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>{{ entity.visibilite }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('sujet_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('sujet_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('sujet_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}