

<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				
				<li class="">
        			<a href="{{ path('user_edit', { 'id': entity.id }) }}">
            		Mettre à jour
        			</a>
    			</li>
    			<li class="">
        			<a href="{{ path('fos_user_change_password', { 'id': entity.id }) }}">
            		Changer le mot de Passe
        			</a>
    			</li>
				<li><a href="{{ path('messages_recu') }}">Messages reçu  </a></li>
				<li><a href="{{ path('messages_envoyer') }}">Message envoyé  </a></li>
				<li><a href="{{ path('message_new') }}">Nouveau message  </a></li>
    			
				{# <li>
        			<form action="{{ path('enseignement_delete', { 'id': entity.id }) }}" method="post">
            			{{ form_widget(delete_form) }}
            			<button type="submit" class="btn btn-danger">Delete</button>
        			</form>
    			</li> #}		
    			
			</ul>
		</div>
	</div>
</div>