{% extends "ProjetCoursBundle::layout.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block Enseignement_body %}

<h1>Critere creation</h1>

<form action="{{ path('critere_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('critere') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}