{% extends "ProjetUserBundle::layout.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block fos_user_content %}

<div class="alert alert-danger"><h1>Objet : {{ entity.sujet }}</h1></div>
<div class="alert alert-warning"><h3>Avec  : {{ entity.destinataire }}</h3></div>


{% if entity.user == app.user %}
		<div class="span4 alert alert-danger">
			<div class="btn alert-info">moi :</div> 
	{% else %}
		<div class="span4 pull-right alert alert-success">
			<div class="btn alert-info">{{ entity.user }} :</div> 
	{% endif %}
				<p>{{ entity.message }}</p>
				<div class="pull-right alert-info">{{ entity.createdat|date('Y-m-d H:i:s') }}</div>
</div>

{% for c in conversations %}
	{% if c.user == app.user %}
		<div class="span4 alert alert-danger">
			<div class="btn alert-info">moi :</div> 
	{% else %}
		<div class="span4 pull-right alert alert-success">
			<div class="btn alert-info">{{ c.user }} :</div> 
	{% endif %}
			
				<p>{{ c.msg }}</p>
				<div class="pull-right alert-info">{{ c.createdat|date('Y-m-d H:i:s') }}</div>
		</div>

{% endfor %}

<div class="span4" id="newComment">
	{% include "ProjetUserBundle:Conversation:new.html.twig" %}
</div>


{% endblock %}