{% extends "ProjetUserBundle::layout.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block fos_user_content %}

<div class="alert alert-danger"><h1>Objet : {{ entity.sujet }}</h1></div>


<div class="span4 alert alert-danger">
			moi : 
				<p>{{ entity.message }}</p>
</div>

{% for c in conversations %}
	{% if c.user == app.user %}
		<div class="span4 alert alert-danger">
			moi : 
				<p>{{ c.msg }}</p>
		</div>
	{% else %}
    	<div class="span4 pull-right alert alert-success">
    		{{ c.user }} : 
    			<p>{{ c.msg }}</p>
    	</div>
	{% endif %}
{% endfor %}




{% endblock %}